@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Poppins:wght@300&family=Varela+Round&display=swap");

:root {
  --main-pink: hsl(348, 79, 63, 100%);
  --main-blue: hsl(197, 100, 40, 100%);
  --light-blue: hsl(209, 51, 74, 100%);
  --title-font: "Varela Round", sans-serif;
  --main-font: "Overpass", "Poppins", sans-serif;
}
